.banner {
	text-align: center;
}
.burger_container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	background-color: #FFD13A;
	opacity: 0.8;
	margin: 20px;
}
.available_burgers, .eaten_burgers {
	max-width: 30%;
}
button {
	border: 2px solid #black;
	background-color: transparent;
	color: #48A5FD;
	font-weight: bold;
	margin: 3px;
}

.add_burger {
	text-align: center;
	float: center;
}
